extends ../layouts/default

block vars
	- bodyClass = 'blog'

mixin post(post)
		.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
			.col-md-4.col-sm-6.col-xs-12
				.postCard
					h2: a(href='/blog/post/' + post.slug)= post.title
					img(src=post._.image.fit(1920,980))
					//p!= post.content.brief
					if post.content.extended
						a.btn.btn-primary(href='/blog/post/' + post.slug) Read more...

block intro
	.container.intro
		h3= data.category ? data.category.name : 'My latest post'
		h1 A trip too far
		hr
		p This is Travel Footage from eight countries.
		p Chile, Bolivia, Peru, Uruguay, Argentina, Vietnam, Cambodia and Thailand.
		p Credit: 
			a(href='https://vimeo.com/christiangrewe') Chris Grewe 

block content
	.videoContainer
		video.video-js.vjs-default-skin(id="heroVideo",controls,preload="none",autoplay="true",muted)
			source(src="http://www.qualidadenutricao.com.br/TRAVEL-LOVE.mp4",poster="/images/videoPoster.jpg",type='video/mp4')
	.playButton(id="playButton")
		.buttonHolder
			svg.svgButton(version="1.1",id="Layer_1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",x="0px",y="0px",viewBox="0 0 35.4 35.4",enable-background="new 0 0 35.4 35.4",xml:space="preserve")
				path(d="M0,0l35.4,18.7L0,35.4V0z")
	.closeButton(id="closeButton")
		svg.svgButton(viewBox="0 0 40 40")
			line(x1="0",y1="0",x2="40",y2="40")
			line(x1="0",y1="40",x2="40",y2="0")


	.row.blog
		.col-sm-12.postList
			if filters.category && !data.category
				h3.text-muted Invalid Category.
			else
				if data.posts.results.length
					if data.posts.totalPages > 1
						h4.text-weight-normal Showing 
							strong #{data.posts.first}
							|  to 
							strong #{data.posts.last}
							|  of 
							strong #{data.posts.total}
							|  posts.
					else
						//h4.text-weight-normal Showing #{utils.plural(data.posts.results.length, '* post')}.
					.blog
						.row
							each post in data.posts.results
								+post(post)
					
					if data.posts.totalPages > 1
						ul.pagination
							if data.posts.previous
								li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
							else
								li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
							each p, i in data.posts.pages
								li(class=data.posts.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
							if data.posts.next
								li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
							else
								li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
				else
					if data.category
						h3.text-muted There are no posts in the category #{data.category.name}.
					else
						h3.text-muted There are no posts yet.
		
		if data.categories.length
			.row
				.col-sm-12
					h2 Categories
					.list-group(style='margin-top: 70px;')
						a(href='/blog', class=!data.category ? 'active' : false).list-group-item All Categories
						each cat in data.categories
							a(href='/blog/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name